<header> 
    <div class="m-0 row p-3 d-flex justify-content-between backgroundHeader rounded border border-light">
        <div class="col-4">
            <h3 class="text-light"><i class="fa-solid fa-clipboard-list"></i><i><b> Employee Review System</b></i></h3>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
            <h3 class="text-light"><i>hey <%= userName %>!</i></h3>
        </div>
        <div class="col-2">
            <a href="/user/logout"><button  class="btn btn-light">Logout</button></a>
        </div>
    </div>
</header>
<div class="wrapper1">
    <div class="container">
        <div class="row mt-4">
            <div class="col-3">
                <h3 class="text-warning">Name</h3>
            </div>
            <div class="col-3">
                <h3 class="text-warning">Email</h3>
            </div>
            <div class="col-5">
                <h3 class="text-warning">Performance List & Feedback</h3>
            </div>
        </div>
        <hr>
   
        <% for(let user=0; user < users.length; user++) { %>
 
                <div class="row p-1 list-design w-100">
                    <div class="col-3 text-light">
                        <h3><%= users[user].userName %> </h3>
                    </div>
                    <div class="col-3 text-light">
                        <h3><%= users[user].email %></h3>
                    </div>
                    <div class="col-6 text-light">
                       <% for(let i of performanceReviewList[user][users[user].email]){ %>
                           <li><%= i %></li>
                       <% } %>
                        <div>
                            <form action="/feedback/createFeedback/<%= users[user]._id %>" method="POST">
                                <div class="input-group mb-3">
                                    <input type="text" name="feedback" placeholder="  Add your feedback..." >
                                    <div class="input-group-append"><button class="feedback-btn w-100 p-1" type="submit"><i class="fa-solid fa-paper-plane "></i></button></div>
                                </div>
                            </form>
                        </div>
                    </div>  
                </div>
        <% } %>
    </div>
</div>